html, body{
	height:100%;
}
body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e88e8+0,76d2db+100 */
background: #2e88e8; /* Old browsers */
background: -moz-linear-gradient(top, #2e88e8 0%, #76d2db 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2e88e8 0%,#76d2db 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2e88e8 0%,#76d2db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e88e8', endColorstr='#76d2db',GradientType=0 ); /* IE6-9 */
}
iframe{
  height:500px;
  width:300px;
}
.beans{
	width:5px;
	height:5px;
}
h1{
	text-align:center;
	color:goldenrod;

}
p{
	font-size:30px;
	text-align:center;
	color:magenta;
}
iframe{
	text-align:center;
}
h1,p,h2{
	font-family: "Comic Sans MS";
}
img{
	max-width:100%;
}